Body{
    background-color:antiquewhite;
}
 /*h1과 h2는 plum 배경색*/
h1,
h2{
    /*background-color:plum;*/
}
/* h1 자매 중 첫번째 h2만 plum 배경색*/
h1 + h2{    
    /* background-color: plum; */
}
/* h1의 자매인 모든 h2에 plum 배경색 */
h1 ~ h2{
    background-color: plum;
}
ul,
ol{
    /* color: #333;
    font-size: 32px; */
}
h5~h6,
ul{
    color:#333;
    font-size: 32px;
}
.korea{
    color:skyblue;
}
.japan{
    color:crimson;
}
.incheon{
    color:darkblue;
}
.leader{
    color:purple;
}
/* 짝수행: even,2n 홀수행 odd */
li:nth-child(5){
    text-decoration: underline;
}
li:nth-child(even){
    background-color: #eee;
}
li:nth-child(5n){
    background-color: #aaa;
}

[type="text"]{
    background-color: aqua;
}
ulul:nth-child(2) > li:nth-child(2){
    text-decoration: overline;
}